---
layout: default
---

<section class="timeline">
  <div class="container">
    <div class="row">
      <h1>Waimea Trails & Greenways Timeline</h1>
        <div class="col-lg-12">
          <ul>
            {% for year in site.data.timeline %}
            <li>
              <div class="date">{{ year.year }}</div>
              {% for event in year.events %}
              <div class="eventdate">{{ event.date }}</div>
              <div class="eventdesc">{{ event.desc }}</div> 
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
        </div>
      <div class="credits"><a target="_blank" href="https://www.freepik.com/free-vector/infographic-template-with-yearly-info_1252895.htm">inspired by</a></div>
    </div>
  </div>


</section>
