
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-4 h-100 text-center text-lg-start my-auto">
            Waimea Trails and Greenways

            <a href="mailto:waimeatrails@gmail.com">
              waimeatrails@gmail.com
            </a>
            <p class="text-muted small mb-4 mb-lg-0">© Waimea Trails and Greenways 2023. All Rights Reserved.</p>
              <!-- <ul class="list-inline mb-2">
                  <li class="list-inline-item"><a href="#!">About</a></li>
                  <li class="list-inline-item">⋅</li>
                  <li class="list-inline-item"><a href="#!">Contact</a></li>
                  <li class="list-inline-item">⋅</li>
                  <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                  <li class="list-inline-item">⋅</li>
                  <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
              </ul> -->
          </div>
          <div class="col-lg-4 h-100 text-center text-lg-end my-auto">
            <img class="img-fluid" src="{{ site.baseurl }}/assets/img/alignment_map.png"></img>
          </div>
          <div class="col-lg-4 h-100 text-center text-lg-end my-auto">
              <ul class="list-inline mb-0">
                  <li class="list-inline-item me-4">
                      <a href="https://www.facebook.com/WaimeaTrails/">
                        <i class="bi bi-facebook fs-3"></i>
                      </a>
                  </li>
                  <!-- <li class="list-inline-item me-4">
                      <a href="#!"><i class="bi-twitter fs-3"></i></a>
                  </li> -->
                  <li class="list-inline-item">
                      <a href="https://www.instagram.com/waimeatrailsandgreenways/">
                        <i class="bi-instagram fs-3"></i>
                      </a>
                  </li>
              </ul>
              <h3>#waimeatrails</h3>
              <h3>@waimeatrails</h3>
              <p>Share your photos and stories with us!</p>
          </div>
      </div>
  </div>
</footer>