<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ site.baseurl }}/assets/img/waimea_trails_logo_no_text.jpg" alt="Waimea Trails" width="50" height="40">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link trailmap.html %}">Trail Map</a>
        </li>
        {% comment %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link events.html %}">Upcoming Events</a>
        </li>
        {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link mission.html %}">Our Mission</a>
        </li>
        {% comment %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link blog.html %}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}{% link timeline.html %}">Timeline</a>
        </li>
        {% endcomment %}
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>

      {% comment %}
      <button class="btn btn-success mx-2">Join/Renew</button>
      {% endcomment %}
      <a href="https://friends-of-the-future.square.site/product/waimea-trails-greenways/29" class="btn btn-primary">
        Donate
      </a>

    </div>
  </div>
</nav>