@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-display: swap;
  src:  url("/fonts/RobotoCondensed-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-display: swap;
  src:  url("/fonts/Roboto-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src:  url("/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src:  url("/fonts/Roboto-Bold.ttf") format('truetype');
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


.showcase .showcase-text {
  padding: 3rem;
}
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}
@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.testimonials .testimonial-item {
  max-width: 18rem;
}
.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.credit-container {
  width: 100%;
  height: 100%;
  position:relative;
}

.credit-container > p {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #afafaf;
  margin-right:5px;
  font-size: 10px
}

.credit-container > p > a {
  color: #afafaf;
}


.call-to-action {
  position: relative;
  background-color: #343a40;
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.call-to-action:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

footer {
  background: #E3E4E2;
  padding: 3em 0;
}

.partners {
  background: #2C3A29;
  color: #fff;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.partners img {
  max-height: 50px;
}

.features-images h3.callout {
  text-align: center;
  color: #979797;
  margin: auto;
  width:70%;
}

.features-images img {
  padding-bottom: 1rem;
}

.features-images p {
  min-height: 100px;
}

.features-images h4,
.features-images button {
  text-align: center;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

.showcase .showcase-text {
  padding: 7rem;
}

.latest-news h3 {
  text-align: center;
  
}

.border {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
  width: 150px;
}

.border.border-green {
  border-bottom: solid 2px green !important;
}

.border.border-center {
  margin: 0 auto;
}

/* .timeline *,
.timeline *::before,
.timeline *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


/*
Timeline
Credit: https://codepen.io/MarkBoots/pen/OJOqNyB
*/
.timeline {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
} 

.timeline h1 {
  text-align: center;
}

.timeline ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.timeline ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
.timeline ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
.timeline ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline ul li .title,
.timeline ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.timeline ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
.timeline ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* shadows */
.timeline ul li .title::before,
.timeline ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
.timeline ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

.timeline ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

.timeline ul li:nth-child(even) {
  --accent-color:#2c3a29;
}

.timeline ul li:nth-child(odd) {
  --accent-color:#9aa98a;
}

@media (min-width: 40rem) {
  .timeline ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .timeline ul::before {
    grid-column: 2;
  }
  .timeline ul li:nth-child(odd) {
    grid-column: 1;
  }
  .timeline ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  .timeline ul li:nth-child(2) {
    grid-row: 2/4;
  }

  .timeline ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  .timeline ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .timeline ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.timeline .credits {
  margin-top: 1rem;
  text-align: right;
}
.timeline .credits a {
  color: var(--color);
}

.timeline .eventdate {
  font-weight: bold;
  margin-inline-start:5px;

}

.timeline .eventdesc {
  margin-inline-start:10px
}
