---
layout: default
---
<div class="container my-3">
  <div class="row">
    <div class="col-8">
      <h1>{{ page.title }}</h1>
      By WTGW Staff
      <hr style="margin:2px">
      <i class="bi bi-clock"></i> {{ page.date | date_to_string }} <i class="bi bi-tag-fill"></i> Events
      
      <img class="img-fluid my-3" src="{{ page.image }}" />
      {{ content }}
    </div>

    <div class="col-4">
      <h4>Recent Posts</h4>
      {% for post in site.posts %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/>
      {% endfor %}
    </div>
  </div>
</div>

